extends ../layout.jade
block contenido
    div(class="col-md-5 center-block no-float top-space text-left")
        h1 Editar Pizza ->  #[span= product.nombre] <- 
        form(method= "POST" action="/pizzeria/#{product.id}?_method=put" style ="margin-top:1.5em;")
            div(class="form-group")
                label Nombre
                input(type="text" name="nombre" value ="#{product.nombre}" placeholder="Ingrese nombre" class="form-control")
            div(class="form-group")
                label Descripción
                input(type="text" name="descripcion" value ="#{product.descripcion}" placeholder="Descripción" class="form-control")
            div(class="form-group")
                label Ingredientes
                input(type="text" name="ingredientes" value ="#{product.ingredientes}" placeholder="Ingredientes" class="form-control")
            div(class="form-group")
                label Tipo de Masa
                input(type="text" name="tipoMasa" value ="#{product.tipoMasa}" placeholder="Tipo de Masa" class="form-control")
            div(class="form-group")
                label Tamaño de Pizza
                input(type="text" name="tamanoPizza" value ="#{product.tamano}" placeholder="Personal, Mediana, Grande, Extra Grande" class="form-control")
            div(class="form-group")
                label Cantidad
                input(type="number" name="cantidad" value ="#{product.cantidad}" placeholder="10" class="form-control")
            div(class="form-group")
                label Extra Queso
                input(type="text" name="extraQueso" value ="#{product.extraQueso}" placeholder="Si/No" class="form-control")
            div(class="form-group text-right")
                input(type="submit" class= "btn btn-info" value ="Guardar")
